<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="acc" class="Account" />
	<bean id="before" class="WelcomeAdvice" />
	<bean id="after" class="GoodByeAdvice"></bean>
	<bean id="pfb"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- it is a depedency on target or business class so we use ref tag  to configure the dependency -->
		<property name="target">
			<ref bean="acc" />
		</property>
		<!-- it inform about business interfaces -->
		<property name="proxyInterfaces">
			<value>Bank</value>
		</property>
		<!-- it informs about advices to be applied. this property is String[]. so we configure list tag in xml file -->
		<property name="interceptorNames">
			<list>
				<value>before</value>
				<value>after</value>
			</list>
		</property>
	</bean>
</beans>
