<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	<!-- configure business class configuration -->
	<bean id="impl" class="ProductImpl"></bean>
	
	<!-- configure Advice class -->
	<bean id="ma" class="MyAdvice"></bean>
	
	<!-- configure Aspect XML based AOP -->
	<aop:config>
		<aop:aspect ref="ma">
			<aop:before method="before" pointcut="execution(* Product.add(..))"/>
			<aop:after-returning method="afterReturning" pointcut="execution(* Product.multiply(..))" returning="result"/>
			<aop:after-throwing method="afterThrowing" pointcut="execution(* Product.*(..))" throwing="t"/>
			<aop:after method="after" pointcut="execution(* Product.*(..))"/>
			<aop:around method="around" pointcut="execution(* Product.show(..))"/>		
		</aop:aspect>
	</aop:config> 
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>
